.DS_Store
.idea
__pycache__/
venv*
*.pyc
config.json
QR.png
data/
device.json
go-cqhttp
logs/
resources/
session.token
.vscode
/resources/bad_words.txt
/channel/http/resources/fullchain.pem
/channel/http/resources/privkey.pem
/channel/http/resources/server.csr
/channel/http/resources/server.key.org
channel/http/static/
channel/http/templates/