openai
expiring-dict
itchat-uos==1.5.0.dev0
werobot
PyJWT 
flask
slack_bolt
llama-index
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-speech
boto
flask-cors
PyPDF2
peewee
pymysql
python-pptx
torch
transformers
docx2txt
sentencepiece
larksuite-oapi
Flask-SocketIO
python-dotenv
eventlet
DBUtils
gevent
gevent-websocket
nest_asyncio