openai~=0.27.8
expiring-dict
itchat-uos==1.5.0.dev0
werobot~=1.13.1
PyJWT~=2.6.0
flask~=2.2.3
slack_bolt
llama-index~=0.6.24
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-speech
boto~=2.49.0
flask-cors
PyPDF2
peewee~=3.16.0
pymysql~=1.0.3
python-pptx
torch~=2.0.0
transformers~=4.27.4
docx2txt~=0.8
sentencepiece~=0.1.98
larksuite-oapi
Flask-SocketIO
python-dotenv
eventlet~=0.33.3
DBUtils
gevent~=22.10.2
gevent-websocket
nest_asyncio
BeautifulSoup4~=4.12.2
nltk
sendgrid~=6.10.0
geoip2~=4.7.0
dnspython~=2.3.0
idna~=3.4
requests~=2.31.0
defusedxml~=0.7.1
cffi~=1.15.1
Pillow~=9.5.0
ipython~=8.10.0
jupyter~=1.0.0
pip~=23.1.2
attrs~=22.2.0
tornado~=6.3
Jinja2~=3.1.2
lxml~=4.9.2
PyYAML~=6.0
XlsxWriter~=3.0.9
pytz~=2023.3
ipywidgets~=8.0.6
notebook~=6.5.4
multidict~=6.0.4
aiohttp~=3.8.4
urllib3~=1.26.16
msrest~=0.7.1
MarkupSafe~=2.1.2
Werkzeug~=2.2.3
click~=8.1.3
itsdangerous~=2.1.2
pytest~=7.2.1
numpy~=1.24.2
setuptools~=65.5.0
mypy~=0.991
regex~=2023.3.23
sympy~=1.11.1
mpmath~=1.3.0
decorator~=5.1.1
pydantic~=1.10.7
dill~=0.3.6
tqdm~=4.65.0
psutil~=5.9.5
greenlet~=2.0.2
PyQRCode~=1.2.1
oauthlib~=3.2.2
isodate~=0.6.1
pandas~=2.0.0
tenacity~=8.2.2
SQLAlchemy
python-dateutil~=2.8.2
numexpr~=2.8.4
yarl~=1.8.2
aiosignal~=1.3.1
frozenlist~=1.3.3
certifi~=2023.5.7
six~=1.16.0
uvicorn~=0.21.1
bottle~=0.12.25
Django~=4.2.1
xmltodict~=0.13.0
websocket-client~=1.5.1
networkx~=3.1
bidict~=0.22.1
langchain~=0.0.216
packaging~=23.0
tokenizers~=0.13.3
marshmallow~=3.19.0
filelock~=3.11.0
sortedcontainers~=2.4.0
platformdirs~=3.2.0
jsonpickle~=3.0.1
Werkzeug
tiktoken
pypdf
apscheduler
googlesearch-python
beautifulsoup4
edge-tts
flashtext