<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Title -->
    <title>ChatGPT</title>
    <!-- Bootstrap Css -->
    <link href="./static/1.css" rel="stylesheet" />
  </head>
  <body class="">
    <div class="no-border">
      <div id="chat" class="conv-form-wrapper"></div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/4.2.12/marked.min.js"></script>

  </body>
</html>
